<h2 mat-dialog-title>Divertimento Duets Volume 1: Free Download Material</h2>
<mat-dialog-content>
  <p>The Free Download Material for Divertimento Duets Volume 1 contains:</p>
  <ul>
    <li>Teacher's notes</li>
    <li>MP3 Recordings</li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions>
  <a mat-stroked-button href="https://www.dropbox.com/sh/n04xzkt8gmp6clp/AAAlsgmnJUjbvGtqEgjK8CYma?dl=1" target="_blank">
    Download Now
  </a> 
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
