<div fxLayout="row wrap">

  <img fxFlexOrder.xs="2" fxFlexOrder.sm="2" fxFlex.xs="1 1 100%" fxFlex.sm="1 1 100%" fxFlex="1 1 50%" fxFlexAlign="center"
    src="assets/images/square-2.jpg">

  <div fxFlexOrder.xs="1" fxFlexOrder.sm="1" fxFlex.xs="1 1 100%" fxFlex.sm="1 1 100%" fxFlex="1 1 50%" fxFlexAlign="center"
    class="padder" ngClass.xs="bigPadder" ngClass.sm="bigPadder">
    <div class="leftText">
      <p>Divertimento Duets is intended as a series of books that will take the beginner on his/her journey to musical accomplishment.</p>
      <p>Each book will introduce new challenges, both technical and musical, one step at a time, allowing the novice violinist to concentrate on building a solid technique. </p>
      <p>The first volumes will be aimed at beginner level, gradually increasing in difficulty through to intermediate and more advanced intermediate level. </p>
    </div>
  </div>

  <div fxFlexOrder.xs="3" fxFlexOrder.sm="3" fxFlex.xs="1 1 100%" fxFlex.sm="1 1 100%" fxFlex="1 1 50%" fxFlexAlign="center"
    class="padder" ngClass.xs="bigPadder" ngClass.sm="bigPadder">
    <div class="leftText">
      <p>The concept of Divertimento Duets in its duet format (with both parts being of equal difficulty) reflects the core values behind this new method; </p>
      <ul>
        <li>Fostering technical/musical development and the ability to listen and understand the music that is being played</li>
        <li>Encouraging interaction at all times between student and teacher</li>
        <li>Promoting the desire to make music with others from the very beginning</li>
      </ul>
      <p>Remember, the most important lesson you will ever give or receive is the first.</p>
    </div>
  </div>

  <img fxFlexOrder.xs="4" fxFlexOrder.sm="4" fxFlex.xs="1 1 100%" fxFlex.sm="1 1 100%" fxFlex="1 1 50%" fxFlexAlign="center"
    src="assets/images/square-6.jpg">

  <div fxFlexOrder.xs="5" fxFlexOrder.sm="5" fxFlex="1 1 100%" class="padder centerText">
    <h2 id="creators">The Creators</h2>
  </div>

  <img fxFlexOrder.xs="6" fxFlexOrder.sm="6" fxFlex.xs="1 1 100%" fxFlex.sm="1 1 100%" fxFlex="1 1 50%" fxFlexAlign="center"
    src="assets/images/square-7.jpg">

  <div fxFlexOrder.xs="7" fxFlexOrder.sm="7" fxFlex.xs="1 1 100%" fxFlex.sm="1 1 100%" fxFlex="1 1 50%" fxFlexAlign="center"
    class="padder" ngClass.xs="bigPadder" ngClass.sm="bigPadder">
    <div class="leftText">
      <p>Phil Holland is a Classically trained Violin Teacher with 30 years of teaching experience.</p>
      <p>She graduated from the Royal Academy of Music, London in both violin performance and teaching.</p>
      <p>She worked professionally as a freelance violinist in London with various orchestras and chamber ensembles and collaborated on professional recordings for EMI and Decca.</p>
      <p>In 1988 she moved to Italy to work with the Orchestra Sinfonica dell’Emilia Romagna "A.Toscanini" in the city of Parma. From the early 90s until 2012, she founded and ran her own violin school, the Divertimento Academy, which ran for over 20 years in the cities of Cremona and Crema in the North of Italy winning many awards along the way, including the ESTA competition in Florence two years in a row.</p>
      <p>During this time she developed her own personal and innovative teaching style and composed music specifically for her students.</p>
      <p>She has extensive experience teaching pupils of all ages and levels of preparation.</p>
      <p>Phil also developed a career as a Celtic harpist/multi-instrumentalist/singer/songwriter and has performed in Celtic festivals and concerts throughout Europe.</p>
      <p>She currently lives and works on the West Coast of Scotland; teaching, writing, but also recording and performing in a duo, "Celtic Twist".</p>
    </div>
  </div>

  <div fxFlexOrder.xs="9" fxFlexOrder.sm="9" fxFlex.xs="1 1 100%" fxFlex.sm="1 1 100%" fxFlex="1 1 50%" fxFlexAlign="center"
    class="padder" ngClass.xs="bigPadder" ngClass.sm="bigPadder">
    <div class="leftText">
      <p>Lorna Romanenghi is an emerging Artist and Designer based in Scotland.</p>
      <p>She spent her formative years in the North of Italy where she developed her love of art, studying under the guidance of  the Italian artist Fausto Lazzari.</p>
      <p>On relocating to Scotland she further developed her artistic skills completing an HND in Art and Design at Ayrshire College.</p>
      <p>She is also a Jeweller and Designer, currently completing her BD (Hons) degree at Duncan of Jordanstone College of Art and Design, Dundee.</p>
      <p>She has recently won diverse awards for Academic achievement and Design.</p>
      <p>She has always had a passion for illustration and at the age of 12 provided the illustrations for Phil Holland’s album “Faeries”.</p>
      <p>She was a keen violinist in her youth and performed extensively with Phil’s Divertimento Academy in Italy.</p>
    </div>
  </div>

  <img fxFlexOrder.xs="8" fxFlexOrder.sm="8" fxFlex.xs="1 1 100%" fxFlex.sm="1 1 100%" fxFlex="1 1 50%" fxFlexAlign="center"
    src="assets/images/SQUARE1.jpg">

</div>
