<div fxLayout="row wrap">

  <img fxFlexOrder.xs="2" fxFlexOrder.sm="2" fxFlex.xs="1 1 100%" fxFlex.sm="1 1 100%" fxFlex="1 1 50%" fxFlexAlign="center"
    src="assets/images/square-3.jpg">

  <div fxFlexOrder.xs="1" fxFlexOrder.sm="1" fxFlex.xs="1 1 100%" fxFlex.sm="1 1 100%" fxFlex="1 1 50%" fxFlexAlign="center"
    class="padder" ngClass.xs="bigPadder" ngClass.sm="bigPadder">
    <div class="leftText">
      <h1>The Duet Format</h1>
      <p>At the very heart of the Divertimento Duets concept is the belief that as a
        teacher you should play along with your student at every opportunity.</p>
      <p>Duet learning helps the student to develop a much better ear for good
        intonation, greater fluidity of movement and musical expression. It helps
        them to understand how music fits together, thus encouraging them to
        listen and breathe with the other player. As such it is fully immersive and
        interactive and allows for an organic and natural development which gives
        great results and satisfaction to both teacher and student.</p>
      <p>Each volume in the Divertimento Duets series is carefully structured to
        enable gradual technical and musical development, allowing the novice
        violinist to concentrate on building a solid technique.</p>
      <p>The duet format is also great news for those teachers who do not have
        access to a piano or who feel that their piano playing skills are lacking.
        Most beginner violin repertoire relies strongly on an interesting piano part
        to help complete a piece of music in a way that will stimulate and
        encourage the novice violinist. Without the accompaniment, lessons can
        soon feel monothematic and rather dull.</p>
    </div>
  </div>

  <div fxFlexOrder.xs="3" fxFlexOrder.sm="3" fxFlex.xs="1 1 100%" fxFlex.sm="1 1 100%" fxFlex="1 1 50%" fxFlexAlign="center"
    class="padder" ngClass.xs="bigPadder" ngClass.sm="bigPadder">
    <div>
      <h1>Teaching using Divertimento Duets</h1>
      <p>The Divertimento Duets were written to be used in a range of scenarios.</p>
      <p>Both parts are of equal difficulty for beginner violin; not a simple student part accompanied by a more
        difficult teacher’s part. This makes them extremely flexible;</p>
    </div>
  </div>

  <img fxFlexOrder.xs="4" fxFlexOrder.sm="4" fxFlex.xs="1 1 100%" fxFlex.sm="1 1 100%" fxFlex="1 1 50%" fxFlexAlign="center"
    src="assets/images/square-11.jpg">


  <div fxFlexOrder.xs="5" fxFlexOrder.sm="5" fxFlex.xs="1 1 100%" fxFlex.sm="1 1 100%" fxFlex="1 1 33.33%" fxFlexAlign="baseline"
    class="padder">
    <h2>Perfect for one-on-one lessons:</h2>
    <p>Using Divertimento Duets you can play along with your students at every opportunity, allowing them to emulate
      your style and teaching them to breathe with you and make music from the very beginning rather than just playing
      notes on a page.</p>
    <p>As both parts are of equal difficulty, they can learn both parts and by playing with you, hear how the music
      fits together.</p>
  </div>
  <div fxFlexOrder.xs="6" fxFlexOrder.sm="6" fxFlex.xs="1 1 100%" fxFlex.sm="1 1 100%" fxFlex="1 1 33.33%" fxFlexAlign="baseline"
    class="padder">
    <h2>Ideal for Group Teaching:</h2>
    <p>As both parts are of equal difficulty, you can use Divertimento Duets in a group teaching situation; in schools,
      music camps etc.</p>
    <p>This means that your students are gradually mastering all the necessary aspects of violin technique but are also
      taking their first important steps towards ensemble playing.</p>
  </div>
  <div fxFlexOrder.xs="7" fxFlexOrder.sm="7" fxFlex.xs="1 1 100%" fxFlex.sm="1 1 100%" fxFlex="1 1 33.33%" fxFlexAlign="baseline"
    class="padder">
    <h2>Simply played for enjoyment by two beginner violinists:</h2>
    <p>Divertimento Duets are a great way to interact musically with others, having fun while making music together.</p>
    <p>Two beginner violinists who want to meet up outside of their lessons to make music together can have hours of
      fun with these duets.</p>
    <p>Each successive volume in the Divertimento Duets series will introduce gradually new aspects of violin technique
      and musicianship, making it an invaluable publication in helping the beginner violinist on the road to musical
      achievement and development.</p>
  </div>

  <img fxFlexOrder.xs="8" fxFlexOrder.sm="8" fxFlex.xs="1 1 100%" fxFlex.sm="1 1 100%" fxFlex="1 1 50%" fxFlexAlign="center"
    src="assets/images/square-5.jpg">

  <div fxFlexOrder.xs="9" fxFlexOrder.sm="9" fxFlex.xs="1 1 100%" fxFlex.sm="1 1 100%" fxFlex="1 1 50%" fxFlexAlign="center"
    class="padder" ngClass.xs="bigPadder" ngClass.sm="bigPadder">
    <div class="leftText">
      <h1>The Decision to use illustrations</h1>
      <p>Lorna’s unique illustrations are an integral part of the Divertimento Duets books.</p>
      <p>She designed these illustrations to be completely inclusive by creating them in a style that would be
        appreciated by both child and adult learner.</p>
      <p>These illustrations then become a precious addition to the book, allowing it to become something beautiful to
        own as well as to use, no matter what age you decide to start your journey.</p>
      <p> If the book is something you love looking at, that can be an added incentive to get it on the stand and start
        practising.</p>
    </div>
  </div>
</div>
