.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.footerContainer {
  padding: 5vw;
}

.footerBottom {
  height: 50px;
}

.button {
  margin-top: 15px;
  width: 160px;
}

svg {
  padding-right: 15px;
}