<div fxLayout="row wrap" fxLayoutAlign="center center" class="padder">

  <h2 fxFlex="1 1 100%" class="centerText">FAQ</h2>

  <mat-accordion fxFlex.xs="1 1 100%" fxFlex.sm="1 1 100%" fxFlex="1 1 75%">
    <mat-expansion-panel>
      <mat-expansion-panel-header [expandedHeight]="expandedHeaderHeight" [collapsedHeight]="collapsedHeaderHeight">
        <mat-panel-title>
          Is this book suitable for an absolute beginner?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Yes. Divertimento Duets, Volume 1 is aimed at a complete beginner.</p>
      <p>The pieces are intended to be learnt sequentially in order to introduce in the correct order the various
        technical and musical aspects of developing a solid technique right from the word go.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header [expandedHeight]="expandedHeaderHeight" [collapsedHeight]="collapsedHeaderHeight">
        <mat-panel-title>
          Is this book suitable for all age groups?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Yes. Divertimento Duets would be suitable for all ages from the very young to the mature beginner. They are
        not specifically aimed at any age group, but they are aimed at a beginner level.</p>
      <p>The illustrations have also been specifically created to please all age groups.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header [expandedHeight]="expandedHeaderHeight" [collapsedHeight]="collapsedHeaderHeight">
        <mat-panel-title>
          Can I use the Divertimento Duets method without a teacher?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>If you are already learning the violin and want to use Divertimento Duets for fun to play with a friend, then
        the answer is a resounding Yes.</p>
      <p>You can use these for pure enjoyment.</p>
      <p>The pieces are great fun to play and very enjoyable to listen to and will give you hours of fun. If, on the
        other hand, you are an absolute beginner, I would never advise someone to try and learn without an experienced
        teacher to guide them through the many pitfalls of developing a sound violin technique.</p>
      <p>However, a mature beginner will find that the very extensive teacher’s notes that can be downloaded for free
        to accompany the book, will be a great help to practising and give valuable insight into the learning process.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header [expandedHeight]="expandedHeaderHeight" [collapsedHeight]="collapsedHeaderHeight">
        <mat-panel-title>
          Is this method compatible to use alongside other violin teaching methods?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Yes. Divertimento Duets can be used as the basis of a teaching/learning programme, but it can also be used as
        an extra teaching tool to be used alongside other methods.</p>
      <p>It is also very useful for teachers who run group sessions for beginners and can be an extremely effective way
        of introducing the first steps towards ensemble playing.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header [expandedHeight]="expandedHeaderHeight" [collapsedHeight]="collapsedHeaderHeight">
        <mat-panel-title>
          How do I buy directly from Phil?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="6W4RJWA7AE6R6">
        <p>You can buy directly from Phil here
          <span>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="6W4RJWA7AE6R6">
              <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" border="0"
                name="submit" alt="PayPal – The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </form>
          </span>
        </p>
        <p>If however you have any queries, please feel free to contact us on the email link below.</p>
      </form>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header [expandedHeight]="expandedHeaderHeight" [collapsedHeight]="collapsedHeaderHeight">
        <mat-panel-title>
          Can I buy a signed copy?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Yes. By writing directly to Phil you can request a signed copy with the personalised dedication that you want
        at absolutely no extra cost.</p>
    </mat-expansion-panel>
  </mat-accordion>

  <div fxFlex="1 1 100%" class="centerText padder">
    <h2>Contact Us...</h2>
    <p>For any questions or to buy directly from us, email: <a href="mailto:philhollandpublications@gmail.com">philhollandpublications@gmail.com</a></p>
  </div>

</div>
