<div fxLayout="row wrap" class="padder">

  <img fxFlex.xs="1 1 100%" fxFlex.sm="1 1 100%" fxFlex="1 1 50%" fxFlexAlign="center" src="assets/images/cover.jpg"
    class="innerPadder">

  <div fxFlex.xs="1 1 100%" fxFlex.sm="1 1 100%" fxFlex="1 1 50%" fxFlexAlign="center center" class="innerPadder"
    fxLayout="column">
    <div fxFlex="1 1 100%" fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="start center" class="innerPadder">
      <h2 fxFlex="1 1 100%" class="price">£18.00</h2>
      <a fxFlex.xs="1 1 100%" fxFlex="1 1 160px" mat-raised-button color="accent" href="https://www.amazon.co.uk/dp/1916435602"
        target="_blank">
        Buy on Amazon
      </a>
      <a fxHide.xs="true" fxFlex.xs="1 1 100%" fxFlex="1 1 180px" mat-stroked-button color="primary" (click)="openDialog()">
        Free Download Material
      </a>
    </div>
    <mat-list fxFlex="1 1 100%" class="leftText">
      <mat-list-item>AUTHOR: Phil Holland</mat-list-item>
      <mat-list-item>ILLUSTRATOR: Lorna Romanenghi</mat-list-item>
      <mat-list-item>FORMAT: Paperback (Saddle-stitch)</mat-list-item>
      <mat-list-item>PAGES: 36 Pages, Full Colour</mat-list-item>
      <mat-list-item>ILLUSTRATIONS: 17, Full Colour</mat-list-item>
      <mat-list-item>PUBLISHER: Phil Holland Publications</mat-list-item>
      <mat-list-item>EDITION: Limited First Edition</mat-list-item>
      <mat-list-item>PUBLICATION DATE :01/09/2018</mat-list-item>
      <mat-list-item>ISBN: 978-1-9164356-0-5</mat-list-item>
    </mat-list>
  </div>

  <img fxFlex.xs="1 1 50%" fxFlex.sm="1 1 50%" fxFlex="1 1 25%" fxFlexAlign="center" src="assets/images/square-6.jpg"
    class="innerPadder">

  <img fxFlex.xs="1 1 50%" fxFlex.sm="1 1 50%" fxFlex="1 1 25%" fxFlexAlign="center" src="assets/images/square-5.jpg"
    class="innerPadder">

  <img fxFlex.xs="1 1 50%" fxFlex.sm="1 1 50%" fxFlex="1 1 25%" fxFlexAlign="center" src="assets/images/square-12.jpg"
    class="innerPadder">

  <img fxFlex.xs="1 1 50%" fxFlex.sm="1 1 50%" fxFlex="1 1 25%" fxFlexAlign="center" src="assets/images/square-4.jpg"
    class="innerPadder">

  <div fxFlex="1 1 100%" fxFlexAlign="center" class="innerPadder">
    <div class="leftText">
      <h1 class="innerPadder">Description</h1>
      <ul>
        <li>23 Original duets for Beginner Violin</li>
        <li>No need for piano accompaniment</li>
        <li>Perfect for one-on-one lessons, group teaching or just for fun</li>
        <li>Ideal first performance pieces</li>
        <li>Beautiful and Original Full Colour Illustrations by Lorna Romanenghi</li>
        <li>MP3 recordings and teacher’s notes available as Free Downloads</li>
      </ul>
      <p>3 Decades of violin teaching have inspired Phil Holland to develop Divertimento Duets, a New and Original
        approach to learning and teaching the violin.</p>
      <p>Volume 1 is the first in the series, aimed at beginner level. These 23 original duets help the beginner
        gradually master new aspects of violin technique and musicianship while having fun and learning to play with
        others. There is no need for a piano accompaniment, making these perfect for one-on-one lessons, group teaching
        or just for fun.</p>
      <p>The Divertimento Duets approach breaks away from the traditional violin/piano accompaniment format, instead
        presenting a fun and effective way of learning the violin that encourages complete interaction between teacher
        and pupil. This is not only a more immersive approach to violin learning, it also helps to develop the pupil’s
        ability to play with and listen to others from the very start. It is the perfect teaching tool for a teacher
        who does not have access to a piano.</p>
      <p>“Divertimento Duets” is an invaluable publication in helping a beginner violinist on the road to musical
        achievement and development. It is also beautifully illustrated in full colour making it a joy to own and an
        extra incentive to get the music on the stand and start practising.</p>
      <p>MP3 recordings of all the pieces in the book and extensive teacher's notes are available as FREE downloads
        from this website with the purchase of this book.</p>
    </div>
  </div>

  <div fxFlex="1 1 100%" fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="center center" class="innerPadder">
    <a fxFlex.xs="1 1 100%" fxFlex="1 1 160px" mat-raised-button color="accent" href="https://www.amazon.co.uk/dp/1916435602"
      target="_blank">
      Buy on Amazon
    </a>
    <a fxHide.xs="true" fxFlex.xs="1 1 100%" fxFlex="1 1 180px" mat-stroked-button color="primary" (click)="openDialog()">
      Free Download Material
    </a>
  </div>

</div>
