<mat-tab-group mat-stretch-tabs>
  <mat-tab label="Volume 1">
    <app-volume1 [price]="price" [forUk]="forUk" [forEurope]="forEurope" [forUSAorCanada]="forUSAorCanada"></app-volume1>
  </mat-tab>
  <mat-tab label="Volume 2">
    <app-volume2 [price]="price" [forUk]="forUk" [forEurope]="forEurope" [forUSAorCanada]="forUSAorCanada"></app-volume2>
  </mat-tab>
  <mat-tab label="Scale 1 (New)">
    <app-scale1 [price]="price" [forUk]="forUk" [forEurope]="forEurope" [forUSAorCanada]="forUSAorCanada"></app-scale1>
  </mat-tab>
  <mat-tab label="Scale 2 (New)">
    <app-scale2 [price]="price" [forUk]="forUk" [forEurope]="forEurope" [forUSAorCanada]="forUSAorCanada"></app-scale2>
  </mat-tab>
</mat-tab-group>
