<h2 mat-dialog-title>Divertimento Duets Scale 2: Free Download Material</h2>
<mat-dialog-content>
  <p>The Free Download Material for Divertimento Duets Scale 2 contains:</p>
  <ul>
    <li>Teacher's notes</li>
    <li>MP3 Recordings</li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions>
  <a mat-stroked-button href="assets/materials/Scales-And-Arpeggios-2-Materials.zip">
    <mat-icon>get_app</mat-icon> Download Now
  </a> 
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>