<h2 mat-dialog-title>A Free Simple Lesson For The Beginner Violinist. No Need For Accompaniment. Worth £25.</h2>
<mat-dialog-content>
  <p>The Free Simple Lesson For The Beginner Violinist contains:</p>
  <ul>
    <li>PDF Sheet Music</li>
    <li>MP3 Recording</li>
    <li><a href="https://youtu.be/AeVigJCQThE" target="_blank" >Video Lesson (YouTube link)</a></li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions>
  <a mat-stroked-button href="assets/materials/At-Home.zip">
    <mat-icon>get_app</mat-icon> Download Now
  </a> 
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>