/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.centerText {
    text-align: center;
} 

.leftText {
    text-align: left;
}

.rightText {
    text-align: right;
}

.whiteText {
    color: #fafafa;
}