<div>
  <h2>Privacy Policy</h2>
  <p>
    Phil Holland Publications is responsible for the website https://www.divertimentoduets.com
  </p>
  <p>
    We take your privacy very seriously. We abide by the General Data Protection Regulations which apply across the
    European Union including the United Kingdom.
  </p>
  <p>
    We will use your information to process your orders and to contact you regarding your orders. We may use your email
    address to inform you of any new releases or special offers. If you do not wish to be informed of new releases and
    special offers, please let us know and we will delete your information.
  </p>
  <p>
    We will never share your personal details with 3rd parties unless we are obliged by law to share your information
    with
    law enforcement agencies in connection with any investigation into unlawful activity.
  </p>
  <p>
    We limit access to your personal information to those who have a genuine business need to know it. Those processing
    your information will do so in an authorised manner and are subject to complete confidentiality.
  </p>
  <p>
    While we use all reasonable efforts to secure your personal data, we cannot guarantee the security of information
    transferred from and to you via a third party on the internet.
  </p>
</div>
